---
---
body {
  margin-bottom: 120px;
}
footer {
  justify-content: center;
  height: 80px;
  nav {
    a {
      margin-right: 20px;
      padding-right: 20px;
    }
    p {
      display: none;
    }
  }
}

/**
 * accordion page
 */
 .accordion {
  .btn {
    white-space: normal;
  }
 }