---
---
body {
  margin-bottom: 120px;
}
footer {
  justify-content: center;
  height: 80px;
  @media screen and (min-width: 800px) and (max-width: 1199px) {
    height: 110px;
  }

  nav {
    a {
      margin-right: 20px;
      padding-right: 20px;
    }
    p {
      display: none;
    }
  }
}

/**
 * accordion page
 */
 .accordion {
  .btn {
    white-space: normal;
  }
 }