---
---

@font-face {
    font-family: NuevaStdBold;
    src: url("fonts/NuevaStd-Bold.otf");
}
@font-face {
    font-family: NuevaStd;
    src: url("fonts/NuevaStd.ttf");
}
@font-face {
    font-family: NuevaStdBoldCond;
    src: url("fonts/NuevaStd-BoldCond.otf");
}

$fz: 1rem;
$hfd_primary_color: #c94d5d;
$hfd_font_color: #616060;
$menu_header_font: 1rem;
$menu_paragraph_font: .75em;
$social_font: 1.5em;
$social_i_font: 1.75em;
$nav_bg: #c94e5d;

.hfd_color {
  color: $hfd_primary_color;
  a &{
    color: $hfd_primary_color;
    &:hover {
      color: darken($hfd_primary_color, 5%);
    }
  }
}

.hfd_bg_color {
  background: $hfd_primary_color;
}

/**
 * global style
 */
 .btn-hfd {
    color: #fff;
    background-color: $hfd_primary_color;
    border-color: darken($hfd_primary_color, 5%);
    &:hover, &:active {
      background-color: darken($hfd_primary_color, 10%);
      border-color: darken($hfd_primary_color, 15%);
      color: #fff;
    }
 }

body {
  margin: 0 2.5rem 0 2.5rem;
  margin-bottom: 200px;
  color: $hfd_font_color;
  font-size: 18px;
  font-family: NuevaStdBold;
}
.bm {
  margin-bottom: 400px;

}
* {
  box-sizing: border-box;
}

/**
 * Header
 */
.top__area {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.logo {
  img {
    width: 250px;
  }
}

.top__social {
  position: relative;
  text-align: center;
}
.social {
  font-size: $social_font;
  position: absolute;
  top: 0;
  right: 0;
  @media screen and (max-width: 800px) {
    position: static;
    font-size: $fz;
    margin-bottom: 10px;
  }
  i {
    font-size: $social_i_font;
  }
  a {
    color: #858585;
    text-decoration: none;
    &:hover {
      color: #ca3046;
    }
  }
}

/**
 * Footer
 */
 footer {
  text-align: center;
  position: fixed;
  height: 200px;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  // background: url('../images/icons/home_page_footer.png') no-repeat center center;
  background: $nav_bg;
  background-size: 300%;
  z-index: 2;
  @media screen and (max-width: 800px) {
    height: 80px;
  }
  nav {
    display: flex;
    padding: 0 40px;
    @media screen and (max-width: 800px) {
      padding: 0 10px;
      overflow: auto;
      white-space: nowrap;
      display: inline-block;

    }
    a {
      margin-right: 10px;
      color: white;
      text-decoration: none;
      position: relative;
      @media screen and (max-width: 800px) {
        display: inline-block;
        margin-right: 10px;
        padding-right: 10px;
      }
      &:after {
        content: "";
        width: 2px;
        height: 30px;
        background: rgba(255, 255, 255, .6);
        position: absolute;
        top: 40%;
        right: -5px;
        @media screen and (max-width: 800px) {
          height: 20px;
          top: 30%;
        }
      }
      &:last-child:after {
        height: 0;
        width: 0;
      }
      h2 {
        font-size: $menu_header_font;
        @media screen and (max-width: 800px) {
          font-size: $menu_paragraph_font;
        }
      }
      p {
        font-size: $menu_paragraph_font;
        @media screen and (max-width: 800px) {
          display: none;
        }
      }
      &:hover {
        color: white;
      }
      img {
        width: 50px;
        @media screen and (max-width: 800px) {
          width: 40px;
        }
      }

      &.active {
        img {
          background: darken($hfd_primary_color, 2%);
        }
        h2 {
          color: lightpink;
        }
      }

    }
  }
 }


/**
 * Home page slider 
 */
a.item {
  text-decoration: none;
}
.item__inner {
  & > div {
    height: 400px;
    position: relative;
    @media screen and (max-width: 800px) {
      height: 350px;
    }
    @media screen and (max-width: 480px) {
      height: 300px;
    }
  }
  h1 {
    // color: #315084;
    color: #646464;
    text-decoration: none;
  }
}
.item__inner {
  h1.left {
    position: absolute;
    text-align: center;
    left: 200px;
    top: 100px;
  }
  h1.right {
    position: absolute;
    text-align: center;
    right: 200px;
    top: 110px;
  }
  h1.left, h1.right {
    @media screen and (max-width: 800px) {
      position: static;
      font-size: 1.5rem;
    }
    @media screen and (max-width: 480px) {
      position: static;
      font-size: 1rem;
    }
  }
  .the_dentist {
    background:  url("../images/homepage/dentist.png") no-repeat;
    background-position: 300px 0px;
    background-size: contain;
    @media screen and (max-width: 800px) {
      background-position: -30px 40px;
      background-size: 150%;
    }
    @media screen and (max-width: 480px) {
      background-position: -30px 40px;
      background-size: 130%;
    }
  }
  .self_evaluation {
    background: url(../images/homepage/self_evaluation.png) no-repeat;
    background-position: 60px -100px;
    background-size: 70%;
    @media screen and (max-width: 800px) {
      background-position: center;
      background-size: 100%;
    }
  }
  .dental_knowledge {
    background: url(../images/homepage/dental_knowledge.png) no-repeat;
    background-position: center center;
    background-size: cover;
    @media screen and (max-width: 800px) {
      background-position: -90px center;
      background-size: 100%;
    }
    @media screen and (max-width: 480px) {
      background-position: -140px center;
      background-size: 150%;
    }
  }
  .dental_hygiene {
    background: url(../images/homepage/hygiene.png) no-repeat 0px -80px;
    background-position: 0px -80px;
    background-size: 80%;
    @media screen and (max-width: 800px) {
      background-position: center;
    }
  }
  .our_treatment {
    background: url(../images/homepage/treatment.png) no-repeat;
    background-position: 0 -100px;
    background-size: 70%;
    @media screen and (max-width: 800px) {
      background-position: center;
    }
  }
}
/**
 * owl carousel overridden 
 */
 .owl-theme .owl-dots .owl-dot span {
  background: #ca4f5f;
 }
 .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #d2233e;
 }
 .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -30px;
    position: relative;
  }


/**
 * dentist page
 */
 #dentist {
  h2 {
    color: $hfd_primary_color;
  }
  img {
    height: 400px;
    margin: 10px auto;
    display: block;
  }
 }

/**
 * Treatments page
 */

#treatments {
  img {
    width: 50%;
    @media screen and (max-width: 800px) {
      width: 60%;
    }
    margin: 1em 0;
    &.icon {
      width: 70px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-image: url('../images/treatments/dental_li.png');
  }
}

/**
 * Dental knowledge
 */
 #knowledge {
  a.headline {
    color: $hfd_font_color;
    text-decoration: none;
    &:hover {
      color: darken($hfd_font_color, 2%);
      text-decoration: none;
    }
  }
  .knowledge_list {
    img.icon {
      height: 50px;
    }
    img.main {
      width: 80%;
      @media screen and (max-width: 480px) {
        width: 80%;
      }
    }
    a {
      color: $hfd_font_color;
      text-decoration: none;
      &:hover {
        color: $hfd_font_color;
      }
    }
  }

 }

 /**
  * knowledge layout and collection 
  */
 #knowledge_layout {
  a {
    color: $hfd_font_color;
    text-decoration: none;
    &:hover {
      color: darken($hfd_font_color, 2%);
      text-decoration: none;
    }
  }
 }
