---
layout: otherpage
---
<div id='knowledge_layout'>
  <div class='container'>
      <div class='text-center'>
        <a href='{{site.url}}{{site.baseurl}}/knowledge'>
          <img class="hfd_bg_color" src="{{'assets/images/icons/dental_knowledge_icon.png' | relative_url}}" alt=''/>
          <h1 class="mt-2">Dental Knowledge</h1>
        </a>
        <h2 class='hfd_color'>Frequently Asked Questions</h2>
      </div>
      
  </div>
<!-- /.container -->
</div>
<!-- /#knowledge_layout -->
{{content}}