---
layout: otherpage
---
<div id='knowledge'>
  <div class='container'>
      <div class='text-center'>
        <a href='{{site.url}}{{site.baseurl}}/dental_knowledge'>
          <img class="hfd_bg_color" src="{{'assets/images/icons/dental_knowledge_icon.png' | relative_url}}" alt=''/>
          <h1 class="mt-2">Dental Knowledge</h1>
        </a>
        <h2 class='hfd_color'>Frequently Asked Questions</h2>
      <img class="icon mb-3" src='{{site.url}}{{site.baseurl}}/{{page.icon}}' alt='' class='icon'/>
      <p class="hfd_color mb-0">{{page.title}}</p>
      <img class="main single" src='{{site.url}}{{site.baseurl}}/{{page.image}}' alt=''/>
    </div>
  </div>
<!-- /.container -->
</div>
<!-- /#knowledge_layout -->
{{content}}