---
layout: otherpage
---
<div id='treatments'>
  <div class='container text-center'>
    <h1 class="mb-4">
      <a href='{{site.url}}{{site.baseurl}}/dental_treatments'>
        Our Dental Treatments
      </a>
    </h1>
    <div class='row'>
      <div class='col-md-12'>
        <a href='{{site.url}}{{site.baseurl}}/dental_treatments'>
          <img class="icon mb-2" src='{{site.url}}{{site.baseurl}}/assets/images/treatments/basic_dental_icon.png' alt=''/>
        </a>
      </div>
      <!-- /.col-md-6 -->
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /#treatments -->
<div class='treatments_collections'>
  <div class='container'>
    <h2 class='hfd_color text-center my-3'>{{page.title}}</h2>
    <!-- /.hfd_title -->
   {{content}} 
  </div>
  <!-- /.container -->
</div>
<!-- /.treatments_collections -->
